.rcorners1 {
    border-radius: 50px;
    background: #f2f1f3;
    padding: 20px; 
    width: 1000px;
    height: 50px;  
  }

  .sh {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

.backcolor{
  background:#cfd3c9;
}



  .textsh{
    font-size: 10px;
  }