/*bg image*/
.bgimg{
  vertical-align: middle;
  width: 1350px;
  height: 800px;
}
/*round coner div*/
.rcorners {
  border-radius: 50px;
  background: #f2f1f3;
  padding-top: 10px; 
  width: 80%;
  height: auto;  
}
.sh {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
/*rows in round coner brar*/
.row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}
.block1{
  /* width: 40%; */
  height: 20%;
  padding-left: 5%;  
  /* padding-right: 1em;   */
}
/*rows in round coner brar*/


.block1:hover{
  background-color: rgb(231, 225, 225);
  
}
.sh{
  width: 50px;
  height: 50px;
  
}

.sh2:hover{
  
  
  background-color: rgb(235, 228, 228);
}
.vlline{
  /* width: 5px; */
  height: 50px;

}
/* to make horizontal vertical line */
.vl {
  border-left: 1px solid rgb(14, 20, 14);
  height: 53px;
  /* padding-left: 1em; */
}
.checkin{
  width: 200px;
  height: 30px; 
  /* padding-bottom: 20px; */
  
}
.checkin:hover{
  background-color: rgb(231, 225, 225);
  height: 50px;
}

/*text color in div table*/
.tcolor{
    color: rgb(5, 83, 57);
    font-weight: bold;
}