.middle-card{
    border-radius: 50px;
    background: #d7cde2;
    padding: 20px; 
    width: 80%;
    height: 80%;  
}
.he{
    padding-top: 100px;
    padding-bottom: 100px;
}

.hovp{
    padding-left: 5%;
    
    height: 20%;
    width: 60%;
    
}

.hovp:hover{
    color: yellow;
    
    
    
}

.cont{
    text-decoration-line: underline;
}

.rowV{
    display: flex;
    flex-direction: row;
}

/* image in box */
.Im1-s{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.para-1{
    width: 100%;
    height: 100%;

}